<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nort - Email Verification</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            font-family: Roboto, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 22px
        }
        h1{
            text-align: center;
            font-size: 50px;
        }
    </style>
</head>
<body>
<h2>🎉 Email Verified! You're All Set!</h2>
<p>Hi there,</p>
<p>Awesome! Your email has been successfully verified, and you're now part of our community. 🙌</p>
<p>You're just one step away from diving into everything we have to offer!</p>

<p>What to do next? Login,to start your journey, or check out the latest features.</p>

<a href="" style="
  display: inline-block;
  background-color: #1a73e8;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
">Login</a>

<p>If you need any help, feel free to reach out to our support team. We're here for you!</p>

<p>Cheers,
    <br />The YourApp Team 🚀</p>

</body>
</html>